html, body {
    font-family: 'Montserrat', sans-serif;
    max-width:1440px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;

    }

    #chk1,.inscription_small_screen {
        display: none; 
    }
    
    .menu {
        display: none;
    }

    header {
    display: flex;
    justify-content:space-between;
    margin:auto;
    padding-top:30px;
    }
    
     
    .logo {
    padding-left:35px;
    
    }

    .btn--details {
    background: #ba1c1c;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 2px;

    >a {
        color: white;
        text-decoration: underline;
    }

}

ul {
    margin:auto;
    list-style: none;
    text-align: right;
    padding-top: 30px;

    li {
        display: inline;
        font-size: 1rem;
        color: black;
        margin:.5rem;
   
        >a {
            color:black;
            text-decoration: none;
        }

    }
}



.container {
    width:95%;
    height:800px;
    margin:auto;
    padding-top:50px;
    position:relative;
    display: flex;
    color: white;
    box-shadow: 1px 6px 2px darkgray;
    background: transparent;
    border-radius: 1%;
    border:none;

    .contains {

        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .left {
            width:40%;
            height:100%;
            background-color: rgba(28, 23, 23, 0.936);
            display: inline-block;
            border-radius: 1% 0 0 1%;
        }
    
        .right {
            width:60%;
            height:100%;
            display: inline-block;
    
            .img {
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 0 1% 1% 0;
            }
        }
    }


    .content {
        position: absolute;
        top:0;
        width: 100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;

        .heading {
            font-size:6rem;
        }

        .byline {
            width:30%;
            font-size:1.3rem;
        }

        

    }
}

.inscription {
    
    padding-bottom: 0px;
    


    #btn--inscription {
        
        background: #ba1c1c;
        border:red;
        cursor: pointer;
        border-radius: .3rem;
        font-size: 1rem;
        color: #fff;
        width: 10%;
        padding:5px;
        text-align: center;

    }
}

.modal {
    padding-left: 30%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        
        overflow: hidden;
        border-radius: 10px;
        background-color: rgb(18, 17, 17);
        margin: auto;
        padding-left: 20px;
        border: 1px solid rgb(18, 17, 17);
        width: 35rem;
        height: 700px;
        position: fixed;
        font-size: 15px;
        
        .formulaire {
            width:100%;
            padding-left: 10%;
            color: white;
            .form-content {
            
                width: 100%;
                margin: auto;
              
                .radio {
                    text-align: center;
                    display: flex;
                    width: 70%;
                }
            
                input {
                    width: 60%;
                    
                    border-radius: 10px;
                    height: 30px;
                }
               
            }
        }

    }   
}

    
    
    .btnvalidation {
        text-align: center;
    
        >button {
            background: #ba1c1c;
            border:red;
            cursor: pointer;
            border-radius: .3rem;
            font-size: 1rem;
            color: #fff;
            width: 25%;
            text-align: center;
            padding:5px;     
        }
    
    }


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(207, 199, 199);
    text-decoration: none;
    cursor: pointer;
}

.modal_validation{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_validation-content {
    border-radius: 10px;
    background-color: rgb(18, 17, 17);
    margin-left: 15%;
    padding-top: 50px;
    border: 1px solid rgb(18, 17, 17);
    width: 50%;
    height: 600px;

    >p {
        font-size: 5rem;
        color: white;
        text-align: center;
        
    }

    .btnfermeture {
        text-align: center;
        padding-top:300px;


        #btn--fermeture {
            background: #ba1c1c;
            border:red;
            cursor: pointer;
            border-radius: .3rem;
            font-size: 1rem;
            color: #fff;
            width: 25%;
            text-align: center;
            padding:5px;     
        }

    }

    .pop_in {
        position: fixed;
        z-index: 99999;
        top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(11, 13, 42, 0.5);
        opacity: 0;
        pointer-events: none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        color: red;

        .pop_in:target {
            opacity:1;
            pointer-events: auto;
        }
                
        .pop_in > div {
            max-width: 350px;
            position: relative;
            margin: 1% auto;
            padding: 15px 10px 15px 10px;
            border-radius: 4px;
            background: #fff;
            transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            color: red;
        }
        
        .pop_in:target > div {
            margin: 10% auto;
            transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
        }

       

    }

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

    button {
        
        text-align: center;
        color: red;
    }
    
}

#chk1{
    display: none;
        
        
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
        
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}


footer {
    padding-top: 80px;
    color:red;
}

.small_screen {
    display: none;
}


@media screen and (min-width: 768px) and (max-width:992px) {
    .ul_nav, .inscription {
       display: none;
    }

    .small_screen {
        text-align: left;
        display: flex;
        flex-direction: column;
         
        
        a {
            font-size: 10px;
            display: inline;
        }
    }

    #chk1 {
        display: none;
    }

    header ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:40px;
        right: -100%;
        width:20%;
        font-size: 12px;
        align-items: center;
        transition: right 0.5s linear;
        
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
        color: red;
        font-size: 12px;
        padding-top: 20px;
    }

    #chk1:checked ~ ul{
        right: 0;
        font-size: 12px;
    }

    .logo {
        padding:0;
    }

    .btn--details {
        background:none;
        border-radius:0%;
        font-size: 12px;
        color: black;
        text-align: center;
    
        >a {
            color: black;
            text-decoration: none;
        }
    
    }

    .container {
        width:90%;
        height:100%;
        margin:auto;
        overflow: hidden;
        box-shadow: none;
        

        .contains {
            width: 100%;
            height: 50%;
            padding-top: 150px; 
            

            .left {
            display: none;
            }

            .right {
                width:100%;
                height:50%;
                
                .img {
                    width:100%;
                    height:50%;
                    border-radius: 1% 1% 1% 1%;
                    
                    
                }
            }
    

        }
        
        
        .content {
            color: black;
            width: 100%;
            padding: 0;

            .text_on_image {
                
                display: block;
                padding-bottom: 30rem;
                

                .heading {
                    width: 100%;
                    font-size:3rem;
                }
        
                .byline {
                    width:100%;
                    font-size: 1rem;
                    
                }
            }
            
        }
        
    }

    .inscription_small_screen {
            display: block;
            text-align: center;
            
        
        
            #btn--inscription_small_screen {
                background: #ba1c1c;
                border:red;
                cursor: pointer;
                border-radius: .3rem;
                font-size: 1rem;
                color: #fff;
                width: 30%;
                padding:5px;
                
    
            }
        }
     
    .modal {
        font-size: 80px;
        padding-left: 25%;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

        .modal-content {
            
            border-radius: 10px;
            background-color: rgb(18, 17, 17);
            margin-top: 10px;
            
            border: 1px solid rgb(18, 17, 17);
            width: 50%;
            height: 90%;
            position: fixed;
            
            .formulaire {
                
                font-size: 10px;
                
                padding: 10%;
                color: white;
    
                .form-content {
                    
                    font-size: 10px;
                    width: 100%;
                    margin: auto;
                
                    input {
                        
                        width: 100%;
                        border-radius: 10px;
                        height: 20px;
                    }
    
                    .radio {
    
                        display: flex;
                        width: 80%;
                        text-align: center;
    
                    }                
                    
                }
    
            }
    
    
        
            .btnvalidation {
                text-align: center;
                padding-top: 20px;
        
                >button {
                    background: #ba1c1c;
                    border:red;
                    cursor: pointer;
                    border-radius: .3rem;
                    font-size: 1rem;
                    color: #fff;
                    width: 35%;
                    text-align: center;
                    padding:5px;     
                }
            }
        }
    }
    


    .modal_validation{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 90%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

        .modal_validation-content {
            border-radius: 10px;
            background-color: rgb(18, 17, 17);
            margin: 15% auto;
            padding: 20px;
            border: 1px solid rgb(18, 17, 17);
            width: 50%;
            height: 800px;
        
            >p {
                font-size: 5rem;
                color: white;
                text-align: center;
                
            }
        
            .btnfermeture {
                text-align: center;
                padding-top:40px;
        
        
                #btn--fermeture {
                    background: #ba1c1c;
                    border:red;
                    cursor: pointer;
                    border-radius: .3rem;
                    font-size: 1rem;
                    color: #fff;
                    width: 25%;
                    text-align: center;
                    padding:5px;     
                }
        
            }
        
        }
    }
    


    .close {
        color: #aaa;
        float: right;
        font-size: 20px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: rgb(207, 199, 199);
        text-decoration: none;
        cursor: pointer;
    }
    
    footer {
        text-align: center;
    }
}
    


@media screen and (max-width: 767px){

    .ul_nav,.inscription {
        display: none;
     }
 
     .small_screen {
        
        display: inline;
        
        
        a {
            display: inline;
            
        }

    }

     #chk1 {
         display: none;
     }
 
     header ul{
         display: flex;
         flex-direction: column;
         position: fixed;
         top: 40px;
         right: -100%;
        
         width: 30%;
         
         align-items: center;
         transition: right 0.5s linear;
     }
      
     header .menu{
         display: block;
         width: 100px;
         text-align: center;
         padding-top: 30px;
     }
     #chk1:checked ~ ul{
         right: 0;
         
     }
 
    html,body {
        overflow-x: hidden;
    }

    .btn--details {
        background: none;
        
        text-align: center;
    
    
        >a {
            color: black;
            text-decoration: none;
        }
    
    }
    .logo {
        padding:0px;
    }

    .container {
        width:90%;
        height:100%;
        margin:auto;
        overflow: hidden;
        box-shadow: none;

        .contains {
            width: 100%;
            height: 50%;
            padding-top: 150px; 
            

            .left {
            display: none;
            }

            .right {
                width:100%;
                height:50%;
                
                
                
                .img {
                    width:100%;
                    height:50%;
                
                    border-radius: 1% 1% 1% 1%;
                    
                    
                }
            }
    

        }

        .content {
            color: black;
            width: 100%;
            padding: 0;
           
           

            .text_on_image {
            
                padding-bottom: 18rem;
                font-size: 1rem;
                

                .heading {
                    width: 90%;
                    font-size:2rem;
                }
        
                .byline {
                    width:90%;
                    font-size: 1rem;
                    
                }
            }
        }

    }

    .modal {
        padding-left: 12%;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);


        .modal-content {
            
            border-radius: 10px;
            background-color: rgb(18, 17, 17);
            margin-top: 50px;
            
            border: 1px solid rgb(18, 17, 17);
            width: 70%;
            height: 500px;
            position: fixed;
            
            
            
            .formulaire {
                font-size: 8px;
                width:100%;
                padding-left: 1px;
                color: white;
    
                .form-content {
                    font-size: 8px;
                    width: 100%;
                    margin: auto;
                    
                    margin-right: 90px;
                  
                    .radio {
                        display: flex;
                        width: 60%;
                        font-size: 7px;
                
                    }
                
                    input {
                        width: 90%;
                    
                        border-radius: 10px;
                        height: 20px;
                    }
                   
                }
            }

            .btnvalidation {
                text-align: center;
                padding-left: 20px;
                padding-top: 30px;
        
                >button {
                    background: #ba1c1c;
                    border:red;
                    cursor: pointer;
                    border-radius: .3rem;
                    font-size: 1rem;
                    color: #fff;
                    width: 40%;
                    text-align: center;
                
                }
            }
            
        }
        
    }

    .modal_validation{
        overflow: hidden;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 90%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

        .modal_validation-content {
            
            border-radius: 10px;
            background-color: rgb(18, 17, 17);
            margin: 15% auto;
            padding: 20px;
            border: 1px solid rgb(18, 17, 17);
            width: 100%;
            height: 800px;
        
            >p {
                font-size: 5rem;
                color: white;
                text-align: center;
                
            }
        
            .pop_in {
                position: fixed;
                z-index: 99999;
                top: 0; right: 0; bottom: 0; left: 0;
                background: rgba(11, 13, 42, 0.5);
                opacity: 0;
                pointer-events: none;
                -webkit-transition: opacity 400ms ease-in;
                -moz-transition: opacity 400ms ease-in;
                transition: opacity 400ms ease-in;
                color: red;
                .pop_in:target {
                    opacity:1;
                    pointer-events: auto;
                }
                        
                .pop_in > div {
                    max-width: 350px;
                    position: relative;
                    margin: 1% auto;
                    padding: 15px 10px 15px 10px;
                    border-radius: 4px;
                    background: #fff;
                    transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                    color: red;
                }
                
                .pop_in:target > div {
                    margin: 10% auto;
                    transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                }
            
            }
                    
            .close {
                color: #aaa;
                float: right;
                font-size: 20px;
                font-weight: bold;
            }
              
            .close:hover,
            .close:focus {
                color: rgb(207, 199, 199);
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    
    .inscription_small_screen {
        display: block;
        text-align: center;
        
    
    
        #btn--inscription_small_screen {
            background: #ba1c1c;
            border:red;
            cursor: pointer;
            border-radius: .3rem;
            font-size: 1rem;
            color: #fff;
            width: 30%;
            padding:5px;
            

        }
    }
    
    footer {
        
        color:red;
        text-align: center;
    }

}
